

<div class='form-content'>
<h2>Editing a resource</h2> 

<%= error_messages_for :source %>

<% form_for(:source, :url => user_source_url(current_user, @source.id), :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
</div>

<%= link_button h("Show #{@source.name}"), :url => user_source_path(current_user, @source) %>

<%= link_button 'Cancel and show all resources', :url =>  user_sources_path(current_user) %>
<%=submit_tag "Update #{@source.name}"%>

<% end %>