<h1>Listing sources</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Iri</th>
  </tr>

<% for source in @sources %>
  <tr>
    <td><%=h source.user_id %></td>
    <td><%=h source.name %></td>
    <td><%=h source.iri %></td>
    <td><%= link_to 'Show', source %></td>
    <td><%= link_to 'Edit', edit_user_source_path(current_user, source) %></td>
    <td><%= link_to 'Destroy', source, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New source', new_user_source_path(current_user) %>
