<h1>New source</h1>

<%= error_messages_for :source %>

<% form_for(@source, :url => user_sources_path(current_user)) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>IRI</b><br />
    <%= f.text_field :iri %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_sources_path(current_user) %>
