<h1>Editing Pipe</h1>

<%= error_messages_for :pipe %>

<% form_for(:pipe, :url => user_pipes_path(current_user), :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag "Update"%>
  </p>
<% end %>

<br/>

<%= link_to 'Show', user_pipe_path(current_user, @partial) %>
|
<%= link_to 'Back', user_pipes_path(current_user) %>