<h1>Listing Pipes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
  </tr>
  <%- @pipes.each do |pipe|%>
    <tr>
      <td><%=h pipe.title %></td>
      <td><%=h pipe.user_id %></td>
    
      <td><%=link_to 'Show', object_url(pipe) %></td>
      <td><%=link_to 'Edit', edit_object_url(pipe) %></td>
      <td><%=link_to 'Destroy', object_url(pipe), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'New Pipe', new_object_url %>