%h1 
  Your Pipes 
  = params[:user_id]
  |
  = link_to "Create new pipe", new_user_pipe_path(current_user)
  

- unless @pipes.blank?
  - @pipes.each do |pipe| 
    %p
      = link_to h(pipe.title), user_pipe_path(current_user, pipe.id)
      from:
      %span.note
        = h pipe.user_id 
-else
  %p 
    You did not create a pipe yet. 
    = link_to "Do you want to do this now?", new_user_pipe_path(current_user)
    
      