- content_for :page_header do
  %div#page_header_container
    %div#all.gallery
    
      %div.step{:style => "background: url(../images/gallery/step1.png) no-repeat;"}
        %h1 About graphpipes
        %p 
          %strong graphpipes 
          is a simple and easy way to aggregate semantic data.

          %br          
          By using drag'n'drop you are able to create
          SPARQL-queries and reuse them later in your networked graphs.
          %br
 
          %strong graphpipes  
          is a proof of concept, developed at 
          = link_to_function 'University of Koblenz', 'header_gallery.move_to_step(3)'
        %p
          We will be opening this project to the public in the next few weeks.
        %p.button_field
          = link_button '&#x2192; I want to know more!',  {:id => 'step1_2'}
          = link_button '&#x2192; Login!', {:id => 'step1_login'}
          
    
      %div.step{:style => "background: url(../images/gallery/step2.png) no-repeat;"}
        %h1 The semantic web
        %p 
          The Semantic Web is an evolving extension of the World Wide Web in which web content can be expressed not only in natural language, but 
          also in a format that can be read and used by software agents, thus permitting them to find, share and integrate information 
          more easily.[1] It derives from W3C director Tim Berners-Lee's vision of the Web as a universal medium for data, information, 
          and knowledge exchange.
          %br
          %br          
          = link_to '[Wikipedia]', 'http://en.wikipedia.org/wiki/Semantic_web'
        %p.button_field
          = link_button '&#x2192; Woah!',  {:id => 'step2_3'}                  
          = link_button '&#x2190; Hu?',   {:id => 'step2_1'}
    
    
      %div.step{:style => "background: url(../images/gallery/step3.png) no-repeat;"}
        %h1 ISWeb | Koblenz
        %p 
          The 
          = link_to "Research Group ISWeb", "http://http://isweb.uni-koblenz.de/" 
          concentrates its work on the basic 
          principles and applications of semantic-based technologies and their integration into complex, dynamic information systems.
          The basics of semantic-based systems include the modeling of ontologies, representation of ontologies, 
          approaches and methods for the design and maintenance of ontologies, as well as the semantic annotation of documents, 
          multimedia data or web services to enable the semantic search and usage of these resources.
        %p.button_field
          = link_button '&#x2192; Go on!', {:id => 'step3_4'}
          = link_button '&#x2190; Hu?', {:id => 'step3_2'}
          
             
      %div.step
        %h1 Signup
        %p
          %strong graphpipes
          will be open to public registration in just a few days.
        %p.button_field
          = link_button '&#x2192; Sign up!', {:id => 'step4_signup'}        
          = link_button '&#x2192; Login!', {:id => 'step4_login'}
          
  %ul.gallery_tabs
    %li 
      %a About graphpipes
    %li 
      %a The Semantic Web
    %li 
      %a ISWeb | Koblenz
    %li 
      %a Signup
    
    %div.endfix
    
- content_for :head do
  -unless logged_in?
    = stylesheet_link_tag 'gallery'
    = javascript_include_tag 'gallery'
    = javascript_include_tag 'site'
    
  = javascript_include_tag 'sheet'  
  
  