!!!

%html
  %head
    %title graphpipes login
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}   
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'font' 
    = stylesheet_link_tag 'buttons'        
    = stylesheet_link_tag 'login'
    
    = javascript_include_tag 'prototype'
    = javascript_include_tag 'controls'
    = javascript_include_tag 'dragdrop'
    = javascript_include_tag 'effects'
    = javascript_include_tag 'button'
    = javascript_include_tag 'login'     
    
    = yield :header 
    
  %body
    #container
      #header_image
        %a{:href => '/'}
          %i 'home'
       
      #login_container
        -unless flash[:error].blank?
          %div.error
            = flash[:error] 
        -unless flash[:notice].blank?
          %div.notice
            = flash[:notice]          
        = yield
      
      
      