!!!

%html
  %head
    %title graphpipes
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}    
    = stylesheet_link_tag 'site'
    = stylesheet_link_tag 'buttons'    
    = javascript_include_tag :defaults
    = javascript_include_tag 'site'
    = yield :head
  %body
    #container
      #page
        #header
          %a{:href => '/'}
            %i 'home'
            
        = yield :page_header
        
        = yield
      
        #footer
          = "#{link_to 'Thomas Winkler', 'mailto:tomfarm@gmail.com'} | 2007-2008 | "
          = "#{link_to 'Impressum', site_path(:action => 'imprint')}"
          %br
          = "Universit&auml;t Koblenz |"
          = "#{link_to 'ISWeb - Research Group Staab', 'http://isweb.uni-koblenz.de'}"  
