!!!

%html
  %head
    %title graphpipes
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}    
    
    = stylesheet_link_tag 'site'
    = stylesheet_link_tag 'buttons'
    = stylesheet_link_tag 'sheet'      
    
    = javascript_include_tag :defaults 
 
    
    = yield :head
  %body#body
    #container
      #page
        #header
          %a{:href => '/'}
            %i 'home'
        
        -if logged_in?
          %p#toolbar
            Hi 
            = current_user.login
            %span.note 
              = link_to '{My Pipes}', user_pipes_path(current_user)
              |            
              = link_to '{My Account}', user_path(current_user)
              |
              = link_to '{Logout}', logout_path
        -else
          = yield :page_header
        
        = yield
      
        #footer
          = "#{link_to 'Thomas Winkler', 'mailto:tomfarm@gmail.com'} | 2007-2008 | "
          = "#{link_to 'Impressum', site_path(:action => 'imprint')}"
          %br
          = "Universit&auml;t Koblenz |"
          = "#{link_to 'ISWeb - Research Group Staab', 'http://isweb.uni-koblenz.de'}"  

  = render :partial => 'parts/sheets'